
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.textRotation {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  width: 825px;
  height: 20px;
  top: 0;
  right: 0;
  margin-top: 140px;
  margin-right: 150px;
}

p {
  display: inline-block;
  vertical-align: top;
}

.word {
  position: absolute;
  transform: translateX(-50%) translateX(+300px);
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8a2be2;
}

.dodger {
  color: #1e90ff;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #00ff7f;
}

.midnight {
  color: #2f4f4f;
}

.aqua {
  color: #00ffff;
}