@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

.customTitle {
  overflow: hidden;
  font: 2wh/10vh 'Finger Paint';
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
  margin-left: -40px;
}


.customTitle span:nth-of-type(var(--i)) {
  animation-delay: calc(3s + var(--i)/10);
}

.customTitle span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 6s ease-in-out 1s infinite alternate;
}

.customTitle span:nth-child(even) {
  animation-name: smoky-mirror;
}

@keyframes smoky {
  80% {
    text-shadow: 0 0 5px whitesmoke;
  }
  to {
    transform: translate3d(2.5rem, -0.5rem, 0) rotate(35deg) skewX(70deg)
      scale(1.2);
    text-shadow: 0 0 10px whitesmoke;
    opacity: 0.1;
  }
}

@keyframes smoky-mirror {
  80% {
    text-shadow: 0 0 5px whitesmoke;
  }
  to {
    transform: translate3d(2.5rem, -0.5rem, 0) rotate(-35deg) skewX(-70deg)
      scale(1.2);
    text-shadow: 0 0 10px whitesmoke;
    opacity: 0.1;
  }
}

